body {
  background-color: #f2f2f2;
}

h1 {
  background-color: black;
  color: white;
}

h2 {
  background-color: lightskyblue;
  color: white;
}

div {
  background-color: white;
}

a {
  color: red;
}
