body {
  background-color: black;
}

h1 {
  background-color: white;
}

div {
  background-color: white;
}

.pav {
  height: 100px;
  width: 100px;
  background-image: url(https://placehold.co/100x100);
}

h2 {
  background-color: #9d9d9d;
}

h3 {
  color: red;
}

p {
  color: blue;
}

a {
  background-color: red;
  color: white;
}

.naujiena {
  background-color: rgb(219, 233, 128);
}
